@model IEnumerable<MyTodoApp.Models.Todo>
<p>
    <a class="btn btn-primary create"><i class="bi bi-plus-square"></i></a>
</p>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Done)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Done)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    <td>
                        <button class="btn btn-warning edit" data-id="@item.Id"><i class="bi bi-pencil-square"></i></button>
                        |
                        <button class="btn btn-primary details" data-id="@item.Id"><i class="bi bi-search"></i></button>
                        |
                        <button class="btn btn-danger delete" data-id="@item.Id"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="modal" class="modal fade" />

@section scripts
    {
    <script>

        $(function () {
            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Todo/Delete/" + id, function () {
                    $("#modal").modal();
                })
            });


            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Todo/Details/" + id, function () {
                    $("#modal").modal();
                })
            });


            $(".create").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Todo/Create/", function () {
                    $("#modal").modal();
                })
            });

            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Todo/Edit/" + id, function () {
                    $("#modal").modal();
                })
            });

        })
    </script>
    }